:root {
  --pink: #f14e95;
  --bg: #f5f5f5; /* Warna abu-abu terang atau putih untuk kesan lebih lembut */
  --secondary: #a7007d;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

@font-face {
  font-family: "spirited"; /* Nama font yang akan Anda gunakan */
  src: url("font/SpiritedNotes-3z7oy.ttf") format("truetype"); /* Jalur relatif ke file font */
}
@font-face {
  font-family: "ltcomical"; /* Nama font yang akan Anda gunakan */
  src: url("font/LT\ Comical.ttf") format("truetype"); /* Jalur relatif ke file font */
}
@font-face {
  font-family: "cabolafe"; /* Nama font yang akan Anda gunakan */
  src: url("font/Cabolafe.otf") format("truetype"); /* Jalur relatif ke file font */
}

body {
  font-size: 1.2rem;
  font-family: "Alata", sans-serif;
  overflow-x: hidden;
}
/* Tambahkan ini di styles.css */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

section {
  max-width: 100vw;
  overflow-x: hidden;
}

.hero {
  position: absolute; /* Pastikan section #hero berada di atas */
  width: 100%;
  min-height: 100vh;
  transition: opacity 1s ease-out, transform 1s ease-out;
  opacity: 1;
  transform: translateY(0); /* Mulai pada posisi normal */
}

#particleCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Agar tidak mengganggu klik di elemen lain */
}

#hero.animate-out {
  opacity: 0;
  transform: translateY(-100%);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/Kalila.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: brightness(50%); /* Gelapkan gambar dengan mengatur brightness */
}

.hero h1,
.hero h3,
.hero p,
.hero h4 {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Cinzel", serif;
}

.hero h1 {
  font-size: 4rem;
}

.hero h3 {
  font-family: "Dancing Script", sans-serif;
  font-size: 4rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.text-sm {
  font-size: 1rem;
  color: var(--secondary);
}

.home h2,
.undangan h3,
.galeri h3,
.hadiah h3 {
  color: var(--pink);
  font-family: "cabolafe", system-ui;
  font-size: 2.5rem;
  font-weight: bold;
}

.acara,
.galeri,
.hadiah,
.last {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hero .button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.2rem;
  font-family: "Alata", sans-serif;
  color: white;
  background-color: transparent;
  border: 2px solid;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

.acara a,
.hadiah a,
.hadiah button {
  color: var(--pink);
  background-color: white;
}

.hero a:hover,
.acara a:hover,
.hadiah a:hover,
.hadiah button:hover {
  color: white;
  background-color: var(--pink);
}

.home {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility 1s ease-in;
  background-image: url(img/1.png);
  background-size: cover;
  background-position: center;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.home.show {
  opacity: 1;
  visibility: visible;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.home h1,
.undangan h1 {
  color: var(--pink);
  font-family: "Dancing Script", system-ui;
  font-size: 3rem;
}

.home h2,
.home img {
  margin-top: 1.5rem;
}

.home img {
  border: 4px solid var(--pink);
  margin-bottom: 2rem;
}

.doa {
  background-color: var(--bg);
  padding-top: 3rem;
  padding-bottom: 5rem;
  border: thick double var(--pink);
}

.doa h3 {
  font-size: 1.6rem;
  color: var(--pink);
}
.undangan,
.galeri {
  background-image: url(img/1.png);
  background-size: cover;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.undangan h3 {
  margin-bottom: 2rem;
}

.undangan img {
  width: 200px;
}

.undangan p {
  margin-top: 0.2rem;
}

.acara h3,
.galeri h3,
.hadiah h3 {
  padding-bottom: 2rem;
}

.acara h3,
.last h3 {
  font-family: "spirited", sans-serif;
  font-size: 3.5rem;
  color: var(--pink);
}

.event-card {
  display: flex;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.side-label {
  background-color: var(--pink);
  color: white;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05rem;
}

.content {
  padding: 20px;
  text-align: center;
  font-family: "ltComical", system-ui;
  flex-direction: column;
  justify-content: center;
}

.content p {
  margin: 5px 0;
  font-size: 1.2rem;
}

hr {
  border: none;
  border-top: 2px dashed var(--pink);
  justify-content: center;
  margin: 10px 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
/* General radio button style */
.form-check-input {
  width: 1.2em;
  height: 1.2em;
}

/* Change color when the radio button is checked */
.form-check-input:checked {
  background-color: pink;
  border-color: pink;
}

/* Optional: you can add a hover effect to make it more interactive */
.form-check-input:hover {
  cursor: pointer;
  background-color: #ffcccc;
}

.acara .card {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ) !important; /* Transparent background for cards */
  color: var(--pink) !important; /* Text color */
  border: 1px solid var(--pink); /* Border color */
}

.acara .card-header {
  border: 1px solid #999; /* Border color */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 0.1rem; /* Letter spacing */
}

.acara .card-body,
.acara .card-footer {
  font-size: 1rem; /* Font size for card body and footer */
}

.acara .card-footer {
  border-top: 1px solid #999; /* Top border color */
  font-weight: 0.9rem; /* Font weight */
}

.acara,
.hadiah {
  background-color: var(--bg);
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.last {
  background-image: url(img/1.png);
  background-size: cover;
}

/* audio icon wrapper */
.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: var(--pink);
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Menyelaraskan konten di tengah */
}

.card-body .col-md-6 {
  display: flex;
  flex-direction: column; /* Mengatur elemen dalam kolom di perangkat kecil */
  align-items: center; /* Menyelaraskan item di tengah */
  text-align: center;
}

.card-body .col-md-6 i {
  font-size: 2rem; /* Ukuran ikon */
  margin-bottom: 0.5rem; /* Jarak antara ikon dan teks */
}

.card-body .col-md-6 span {
  font-size: 1.2rem; /* Ukuran teks */
}

/* Aturan untuk SVG secara umum *

/* Animasi untuk path */
svg path {
  animation: oceanWave 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

svg path:nth-child(2) {
  animation-delay: 1s;
}
svg path:nth-child(3) {
  animation-delay: 3s;
}
svg path:nth-child(4) {
  animation-play-state: paused;
}

@keyframes oceanWave {
  0% {
    d: path(
      "M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320 500 L0 500"
    );
  }
  25% {
    d: path(
      "M0,100 C220,100,440,292,660,292 C880,292,1100,100,1320,100 L1320 500 L0 500"
    );
  }
  50% {
    d: path(
      "M0,192 C220,290,440,290,660,192 C880,100,1100,100,1320,192 L1320 500 L0 500"
    );
  }
  75% {
    d: path(
      "M0,292 C220,292,440,100,660,100 C880,100,1100,292,1320,292 L1320 500 L0 500"
    );
  }
  100% {
    d: path(
      "M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320 500 L0 500"
    );
  }
}

/* Style untuk card bank */

/* Media Queries */

/* wafe effect */

@media (max-width: 1200px) {
  .hero::before {
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 100%;
  }

  .hero h1 {
    font-size: 7rem;
  }
  .hero h3 {
    font-size: 4rem;
  }
  .hero h4 {
    font-size: 2rem;
  }

  .home {
    padding-top: 6rem;
  }
  .home h1,
  .undangan h1 {
    font-size: 4rem;
  }

  .home p {
    margin-bottom: 5rem;
  }
  .home p,
  .home p {
    font-size: 1.2rem;
  }
  .home img {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 80%;
  }
  .event-card {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .hero h3 {
    font-size: 4rem;
  }

  .hero h1 {
    margin-top: 8rem;
    font-size: 3rem;
  }

  .text2 {
    margin-top: 8rem;
    font-size: 1.5rem;
  }

  .hero .button {
    font-size: 1.5rem;
  }

  .home {
    padding-top: 5rem;
  }

  .home h3 {
    font-size: 10rem;
  }
  .home h1,
  .undangan h1 {
    font-size: 3rem;
  }

  .undangan p {
    font-size: 1.2rem;
  }
  .home img {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .undangan {
    padding-top: 10rem;
  }
  .undangan img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .undangan h3 {
    font-size: 2.32rem;
  }

  .acara a {
    margin-top: 0.1rem;
    margin-bottom: 2rem;
  }

  .hadiah .btn {
    padding-top: 0.5rem;
  }

  .card-body {
    flex-direction: row; /* Menyusun elemen secara horizontal di perangkat besar */
  }

  .card-body .col-md-6 {
    flex-direction: row; /* Mengatur elemen dalam baris di perangkat besar */
    justify-content: center;
  }

  .card-body .col-md-6 i {
    margin-right: 1rem; /* Jarak antara ikon dan teks di perangkat besar */
    margin-bottom: 0; /* Menghapus margin bawah di perangkat besar */
  }

  .acara .card-body .row {
    justify-content: start;
  }
  .acara .card-body .row .col-md-6 {
    justify-content: start;
  }
  .acara .card-body .row .col-lg-12 span {
    text-align: center;
  }
}

@media (max-width: 332px) {
  .hero .text2 {
    margin-top: 2rem;
  }
  .undangan h3 {
    font-size: 1.7rem;
  }
}
